<aside class="card">
  <div class="card-header">
    Recommended
  </div>
  <ul class="list-group list-group-flush">
    {% if recommended_posts %}
    {% for post in recommended_posts %}
    <li class="list-group-item text-truncate">
      <a href="{% url 'blog-detail' post.blog.id %}" class="text-decoration-none">
        <h5 class="fw-bold">{{ post.blog.title }}</h5>
      </a>
      <small class="text-muted">
        <i class="fas fa-eye"></i> {{ post.views }}
        {% if post.views <= 1 %}
          view
        {% else %}
          views
        {% endif %}
      </small>
    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">No recommendation</li>
    {% endif %}
  </ul>
</aside>