{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
	<div class="card p-4 mx-auto">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Reset your password
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-success my-3" type="submit">
					Reset password
				</button>
			</div>			
		</form>
	</div>
</section>
{% endblock content %}