{% extends 'blog/base.html' %}
{% block content %}
<section class="row">
	<div class="col-lg-4 col-sm-12">
		<h3 class="border-bottom">Profile</h3>
		<div class="card">
		  <div class="card-body align-items-center d-flex flex-lg-column flex-sm-row ">
		  	<img src="{{ getuser.profile.pic.url }}" class="" alt="..."
		style="width: 200px;height: 200px;border-radius: 50%;">
	    	<div class="d-flex flex-column align-items-sm-center">
	    		<h2 class="">{{ getuser.username }}</h2>
		    	<small class="text-muted">{{ getuser.email }}</small>
		    	<small class="">
		    	{{ post_count }} {% if post_count == 1 or post_count == 0 %}blog{% else %}blogs{% endif %}
		    	</small>
	    	</div>
		  </div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-12">
		<h3 class="border-bottom">{{ getuser.username }}'s blogs</h3>
		{% if posts %}
		{% for post in posts %}
		<article class="card mb-3">
			<div class="card-body d-flex align-items-center text-truncate">
				<img src="{{ post.author.profile.pic.url }}" 
				style="width: 32px;height: 32px;border-radius: 50%;">
				<span class="fw-bold text-truncate" style="margin-left: 1rem;">{{ post.author }}</span>
			</div>
			<img src="{{ post.banner.url }}" class="card-img-top" alt="..."
			style="height: 350px;">
			<div class="card-body">
				<h5 class="card-title text-truncate fs-3">{{ post.title }}</h5>
				<small class="fst-italic fw-light text-truncate text-muted">by {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</small>
				<p class="card-text fw-light text-truncate">{{ post.caption }}</p>
			</div>
		</article>
		{% endfor %}
		{% else %}
		<div class="alert alert-info" role="alert">
		  No Blog Posted.
		</div>
		{% endif %}
	</div>
</section>
{% endblock content %}