{% extends 'blog/base.html' %}
{% block content %}
<section style="margin-top: 5rem;">
	<div class="card p-4 mx-auto" style="width: 75%;">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Sign Up
				</legend>
				{{ form.as_p }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-success" type="submit">
					Register
				</button>
			</div>			
		</form>
		<div class="border-top my-3">
			<small class="text-muted">
				Already have an account?
				<a class="ml-2" href="/">Sign In</a>
			</small>
		</div>
	</div>
</section>
{% endblock content %}